@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0011aa66;
}

header {
    margin-bottom: 20px;
}

main {
    font-family: sans-serif;
    margin-bottom: 50px;
}

label{
    font-family: sans-serif;
    font-size: 25px;
    margin: auto;
}

input {
    text-align: right;
}

.site-title{
    text-align: center;
    color: #000000;
    font-size: 45px;
    font-family: sans-serif;
    margin: 20px 0 10px 0;
}

.container{
    max-width: 720px;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.form p {
    font-size: 20px;
    margin: auto;
}

.form .section-basic-time {
    display: flex;
}

.form .section-byo-yomi {
    display: flex;
    width: fit-content;
    margin: 0 0 0 auto;
}

.form .input{
    width: 60px;
    height: 30px;
    margin: auto 0;
    margin-left: 8px;
}

#set-clock-btn{
    background-color: #7fd33a;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
}

#set-clock-btn:hover{
    background-color: red;
}

.turn-btn-group{
    display: flex;
    width: 600px;
    padding: 0 75px;
    margin: 0 auto;
    margin-bottom: 0;
    align-items: flex-start;
}

.turn-btn {
    position: relative;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    background: #777;
    cursor: pointer;
    transition: 0.25s;
    z-index: 0;
}

.turn-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 20px;
    background: #333;
    z-index: -1;
}

.turn-btn:disabled {
    transform: translateY(10px);
}

.turn-btn-left{
    margin: 0;
}

.turn-btn-right{
    margin: 0 0 0 auto;
}

.clock-body{
    position: relative;
    background-color: darkslategray;
    margin: 0 auto;
    height: 360px;
    width: 600px;
    border-radius: 20px;
    z-index: 0;
}

.section-display {
    display: flex;
}

.timer-display{
    background-color: #00cc00a0;
    color: #000;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: 120px;
    width: 270px;
    border-radius: 5px;
    border: inset 4px #0f0f0f;
}

.timer-string{
    text-align: center;
    font-size: 120px;
    font-family: "Micro 5", sans-serif;
}

.section-player-info {
    display: flex;
    width: 100%;
    padding: 30px;
}

.player-info {
    background-color: #666;
    width: 240px;
    height: 100px;
    border-radius: 10px;
    border: inset 2px #0f0f0f;
}

.player-info-left {
    margin: 0;
}

.player-info-right {
    margin: 0 0 0 auto;
}


.dialog {
    width: 300px;
    height: 200px;
    background-color: #000000;
    padding: 5px;
    border: gray 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.dialog .text {
    width: 100%;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cccccc;
    border-radius: 5px;
}

.dialog-title {
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.dialog .text p {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

.dialog-btn {
    display: flex;
    margin-top: 2px;
}

.dialog-btn button {
    background-color: red;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    margin: 0 0 0 auto;
    text-align: center;
}
